<nav class="nav" id="nav1">
   <ul class="nav navbar-nav" id="nav1">
      <li id="nav1"><a href="https://www.ieee.org/" id="nav1" style="color:white">IEEE.org</a></li>
      <li id="nav1"><a href="https://ieeexplore.ieee.org/Xplore/home.jsp/" id="nav1" style="color:white">IEEE Xplore Digital Library</a></li>
      <li id="nav1"><a href="http://standards.ieee.org/" id="nav1" style="color:white">IEEE Standards</a></li>
      <li id="nav1"><a href="https://spectrum.ieee.org/" id="nav1" style="color:white">IEEE Spectrum</a></li>
      <li id="nav1"><a href="https://www.ieee.org/sitemap.html" id="nav1" style="color:white">More Sites</a></li>
    </ul>
  </nav>
<nav class="nav navbar navbar-expand-md navbar-light ">
    <a class="navbar-brand" href="https://ieeehyderabad.org/">
        <img src="{{ url('theme://img/ieee-hyderabad-section-logo.jpg') }}" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-navbar"
        aria-controls="primary-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="primary-navbar">
        <ul class="navbar-nav ml-auto">
            {% for item in config.site.navigation %}
                {% if item == "Home" %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% else %}
                    {% if item is iterable %}
                        {% for mainitem, subitems in item %}
                        {% set dropslug = mainitem | lower | replace({' ': '-', '/': '-', '(': '', ')': ''}) %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-{{ dropslug }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ mainitem }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-{{ dropslug }}">
                                <ul>
                                    {% for subitem in subitems %}
                                        <li><a href="/{{ dropslug }}/{{ subitem | lower | replace({' ': '-', '/': '-', '(': '', ')': ''}) }}">{{ subitem }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endfor %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/{{ item | lower | replace({' ': '-', '/': '-', '(': '', ')': ''}) }}">{{ item }}</a>
                    </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
</nav>
